
.account-link  {
	color: #fff;
	display: block;
	line-height: 60px;
	background-color: #708090;
	border-radius: 10px;
	transition: all 0.3s;
	margin-bottom: 15px;
	height: 60px;
	text-align: center;
}

.account-link:hover {
	background-color: #4682B4;
	text-decoration: none;
}